<!-- A footer handlebars view that will replace the repeitive HTML code that structures the footer on the site -->
<footer>
    <div class="footerrow">
        <div class="footercolumn">
            <img class="footerlogo" src="images/Town-logo.png" alt="Town logo">
        </div>
        <div class="footercolumn"> 
            <h3>Location</h3>
            <p>103 Mulberry St, New York, NY 10013</p> 
        </div>
        <div class="footercolumn"> 
            <h3>Hours</h3>
            <p>Monday-Friday : 9:00am - 11:00pm</p>
            <p>Saturday : 10:00am - 9:00pm</p>
            <p>Sunday : 11:00am - 8:00pm</p>
        </div>
        <div class="footercolumn"> 
            <h3>Email</h3>
            <p>TownCCuisine@gmail.com</p>
        </div>
        <div class="footercolumn"> 
            <h3>Phone</h3>
            <p>+1 646-000-0000</p>
        </div>            

    </div>
    <div style="color:white; text-align: center">
        <small>&copy; 2023, Town | All Rights Reserved </small>
    </div>
</footer>           