<!-- A header handlebars view that will replace the repeitive HTML code that structures the navigation menu on the site -->
<nav>
    <!-- An unordered list that contains links to other pages on the navigation menu. -->
    <ul class="navlinks">
        <li><a class="home" href="/contact">Contact</a></li>
        <li><a class="home" href="/about">About</a></li>
        <li><a class="home" href="/menu">Menu</a></li>
        <li><a class="home" href="/">Home</a></li>            
        <li><a href="/"><Img class="navlogo" src="images/Town-logoBW.png" alt="Town logo"></a></li>
    </ul>
</nav>