<!DOCTYPE html>
<html lang="en">
    <!-- The head tag contains all the meta elements containing metadata about the page, along with links to other assets such as the style
    sheet css, also includes the main title of the page. -->
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Town is dedicated to bring quality, style, and the wish for good fortune to all of their guests. Providing a high end experience through Chinese cuisine.">        
        <meta name="keywords" content="Town, Chinese cuisine, mission statement, food, fortune, quality, style">
        <meta name="author" content="Kevin Caballero">       
        <meta name="viewport" content="width = device-width, initial-scale=1">        
        <link rel="stylesheet" href="css/stylesheet.css"> 
        <title>TOWN</title>
        <!-- This style section contains the design elements used for the inital dishes showcased and paragraph formatting. -->    
        <style>
        /*Home dish showcase layout*/
        .dishshow {
            list-style-type: none;
            display: inline-block;
            overflow: hidden;
        }
        li .dishes {
            display: block;
            align-items: center;
        }
        .dish{
            margin: 3.25rem;
            width: 20%;
            height: 20%;
            border: 4px solid #be1e2d50;
            border-radius: 10px;
        }
        .galleryheader {
            color:#d4a18d;
            font-size: 48px;
            font-family: 'majesti_bannerbold';
            text-align: center;
            margin: 0;
        }
        /*Mission statement format*/
        .missioncontainer {
            display: block;
            padding: 25px;
            margin: auto;
        }
        .missionheader {
            font-family: 'majesti_bannerbold';
            font-size: 52px;
            text-align: center;
            color: #d4a18d;
        }
        .missionstate {
            font-family: 'majesti_bannermedium';
            font-size: 36px;
            text-align: center;
            color: white;
        }
        /*Home image*/
        .homeimg {
            display: block;
            width: 95%;
            height: auto;
            margin: 24px auto;
            border: 4px solid #be1e2d50;
            border-radius: 10px;
        }
        </style>
    </head>
    <body>
        {{> header}}
        <div>
            <!-- Dominant image: Image of the restaurant. -->
            <Img class="homeimg" src="images/indoor-restaurant.jpg" alt="Indoor restaurant image">
        </div>
        <div class="missioncontainer">        
            <!-- Header : Contains the heading for the mission statement of the company. -->
            <h1 class="missionheader">Mission Statement</h1>
            <!-- This paragraph contains the mission statement. -->
            <p class="missionstate">To bring quality, style, and the wish for good fortune
            to all of our guests. We provide a high-end experience
            through Chinese cuisine.</p>
        </div>
        <div>
            <h3 class="galleryheader">Food Gallery</h3>
            <!-- An unordered list that consists of the dishes to be showcased within the home page. -->
            <ul class="dishshow">
                <li class="dishes">
                    <Img class="dish" src="images/fried-pork.jpg" alt="Fried Pork Dish">
                    <Img class="dish" src="images/pork-noodles.jpg" alt="Pork Noodles Dish">
                    <Img class="dish" src="images/prawn-noodles.jpg" alt="Prawn Noodles Dish">
                    <Img class="dish" src="images/crayfish-stirfry.jpg" alt="Cray Fish Dish">
                </li>
            </ul>
        </div>
        <!-- Contains the footer info. for each page listing the location, hours, email, as well as phone number of the restaurant. -->        
    {{> footer}}              
    </body>
</html>